{% extends 'base_crud.html.twig' %}
{% block crud_title %}Instructors{% endblock %}
{% block crud_add_text %}Add instructor{% endblock %}
{% block crud_href_add %}{{ path('app_admin_instructor_add') }}{% endblock %}
{% block crud_href_edit %}{{ path('app_admin_instructor_edit', {'id': entry.id}) }}{% endblock %}
{% block crud_href_delete %}{{ path('app_admin_instructor_remove', {'id': entry.id}) }}{% endblock %}
{% block crud_table_ths %}
    <th>Name</th>
    <th>Email</th>
    <th>Hiring date</th>
{% endblock %}
{% block crud_table_entries %}
    <td>{{ entry.surname }}, {{ entry.firstname }} {{ entry.surnamePrepositions }}</td>
    <td>{{ entry.email }}</td>
    <td>{{ entry.hiringDate|date("m-d-Y") }}</td>
{% endblock %}