{% extends 'base_crud.html.twig' %}
{% block crud_title %}My Lessons{% endblock %}
{% block crud_add_text %}Sign up for lesson{% endblock %}
{% block crud_href_add %}{{ path('app_member_signup') }}{% endblock %}
{% block crud_table_ths %}
    <th>Training course</th>
    <th>Duration</th>
    <th>Location</th>
    <th>Time</th>
{% endblock %}

{% block crud_table_entries %}
    {# @var entry \App\Entity\Lesson #}
    <td>{{ entry.training.name }}</td>
    <td>{{ entry.training.duration }} {{ entry.training.duration == 1 ? 'minute' : 'minutes' }}</td>
    <td>{{ entry.location }}</td>
    <td>{{ entry.time|date("n-d-Y H:i") }}-{{ entry.time|date_modify("+" ~ entry.training.duration ~ 'minutes')|date("H:i") }}</td>
{% endblock %}

{% block crud_table_dropdown %}
    <a class="btn btn-success"
       href="{{ path('app_member_lesson_signout', {'id': entry.id}) }}">
        <i class="fas fa-sign-out-alt"></i> Sign out
    </a>
{% endblock %}
