{% extends 'base_crud.html.twig' %}

{% block crud_title %}Available lessons{% endblock %}
{% block crud_add_button %}{% endblock %}
{% block crud_table_ths %}
    <th>Training course</th>
    <th>Duration</th>
    <th>Location</th>
    <th>Time</th>
    <th>Available spots</th>
{% endblock %}

{% block crud_table_entries %}
    <td>{{ entry.name }}</td>
    <td>{{ entry.duration }} {{ entry.duration == 1 ? 'minute' : 'minutes' }}</td>
    <td>{{ entry.location }}</td>
    <td>
        {{ entry.time|date("m-d-Y\nH:i")|nl2br }}-{{ entry.time|date_modify("+" ~ entry.duration ~ 'minutes')|date("H:i") }}
    </td>
    <td>{{ entry.max_relations - entry.relations }} out of {{ entry.max_relations }}</td>
{% endblock %}

{% block crud_table_dropdown %}
    {% set full = entry.relations >= entry.max_relations %}
    <a class="btn btn-{{full ? 'danger disabled' : 'success'}} single-click"
       href="{{ full ? 'javascript:void(0)' : path('app_member_lesson_signup', {id: entry.id}) }}"
    >
        {% if full %}
            <i class="far fa-times-circle"></i> full&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% else %}
            <i class="fas fa-calendar-plus"></i> Sign up
        {% endif %}
    </a>
{% endblock %}

{% block crud_search %}
    {% embed 'components/searchbar.html.twig' %}
        {% block search_form_append %}
            <button class="btn my-2 bg-white border" data-target="#searchOptions" data-toggle="collapse" type="button">Show
                search
                options
            </button>
            <ul id="searchOptions" class="list-group collapse">
                <li class="list-group-item">
                    <div class="form-inline">
                        <label for="startDate">Starting from</label>
                        <input class="form-control ml-2"
                               id="startDate"
                               name="startDate"
                               required
                               type="datetime-local"
                               value="{{ app.request.query.get('startDate')|default('now'|date("Y-m-d\\TH:i")) }}"
                        >
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-primary">Search</button>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}
