{% extends 'content_base.html.twig' %}

{% block content_body %}
    {{ form_start(trainingForm, {attr: {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    {{ form_widget(trainingForm) }}
    <button class="btn btn-primary mt-3">Opslaan</button>
    {{ form_end(trainingForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/uploadfield_responsive.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}
