{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="bg-dark text-light p-2 mt-2">
        <h2 class="ml-2">Currently available courses</h2>
    </div>
    <div class="d-flex flex-wrap">
        {% for training in trainings %}
            <div class="card m-3" style="width: 21rem;">
                <img src="{{ uploaded_asset(training.imagePath) }}" height="200px" alt="{{ training.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ training.name }}</h5>
                    <p class="card-text">{{ training.description }}</p>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="card-footer">
                    <a href="{{ path('app_member_signup', {'search': training.name}) }}">Search for lessons..</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}