{% extends 'base_crud.html.twig' %}
{% block crud_title %}Planned lessons{% endblock %}
{% block crud_add_text %}Plan new lesson{% endblock %}
{% block crud_href_add %}{{ path('app_instructor_lesson_add') }}{% endblock %}
{% block crud_href_edit %}{{ path('app_instructor_lesson_edit', {id: entry.id}) }}{% endblock %}
{% block crud_href_delete %}{{ path('app_instructor_lesson_remove', {id: entry.id}) }}{% endblock %}
{% block crud_table_ths %}
    <th>Training course</th>
    <th>Duration</th>
    <th>Location</th>
    <th>Time</th>
    <th>instructor</th>
{% endblock %}
{% block crud_table_entries %}
    {# @var entry \App\Entity\Lesson #}
    <td>{{ entry.training.name }}</td>
    <td>{{ entry.training.duration }} {{ entry.training.duration == 1 ? 'minute' : 'minutes' }}</td>
    <td>{{ entry.location }}</td>
    <td>{{ entry.time|date("n-d-Y H:i") }}-{{ entry.time|date_modify("+" ~ entry.training.duration ~ 'minutes')|date("H:i") }}</td>
    <td>{{ entry.instructor.email }}</td>
{% endblock %}

{% block crud_table_actions %}
    {{ parent() }}
    <a class="dropdown-item"
       href="{{ path('app_instructor_participants', {id: entry.id}) }}">
        <i class="fas fa-users"></i> Participants
    </a>
{% endblock %}

{% block crud_search %}
    {% embed 'components/searchbar.html.twig' %}
        {% block search_form_append %}
            <button class="btn my-2 bg-white border" data-target="#searchOptions" data-toggle="collapse" type="button">
                Show
                search
                options
            </button>
            <ul id="searchOptions" class="list-group collapse">
                <li class="list-group-item">
                    <div class="row mb-1">
                        <div class="col-sm-2">
                            <label for="startDate">Starting from</label>
                        </div>
                        <div class="col">
                            <input class="form-control"
                                   id="startDate"
                                   name="startDate"
                                   required
                                   type="datetime-local"
                                   value="{{ app.request.query.get('startDate')|default('now'|date("Y-m-d\\TH:i")) }}"
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="showSelect">Show</label>
                        </div>
                        <div class="col">
                            <select class="form-control" id="showSelect" name="showAll">
                                <option value="">
                                    Lessons that I planned
                                </option>
                                <option {{ app.request.query.get('showAll') ? 'selected' }} value="1">
                                    All planned lessons
                                </option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-primary">Search</button>
                </li>
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}