{% extends 'base_crud.html.twig' %}
{% block crud_title %}{{ lesson }} - {{ lesson.time|date() }} - {{ lesson.instructor }}{% endblock %}
{% block crud_add_text %}Sign member up{% endblock %}
{% block crud_href_add %}{{ path('app_instructor_participants_select', {id: lesson.id}) }}{% endblock %}
{% block crud_table_ths %}
    <th>Name</th>
    <th>Email</th>
{% endblock %}
{% block crud_table_entries %}
    {# @var entry \App\Entity\Member #}
    <td>{{ entry.firstname }} {{ entry.surnamePrepositions }} {{ entry.surname }}</td>
    <td>{{ entry.email }}</td>
{% endblock %}

{% block crud_table_dropdown %}
    <a class="btn btn-danger single-click"
       href="{{ path('app_instructor_participants_remove', {lesson: lesson.id, member: entry.id}) }}">
        <i class="fas fa-sign-out-alt"></i> Sign out
    </a>
{% endblock %}
