{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1 class="text-danger">Personal data</h1>
    {{ form_start(userForm, {attr: {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    {{ form_widget(userForm) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(userForm) }}
    <hr>
    <h1 class="text-danger">Account data</h1>
    {{ form_start(userPasswordForm, {attr: {'novalidate': 'novalidate', 'autocomplete': 'off'}}) }}
    {{ form_widget(userPasswordForm) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(userPasswordForm) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}