{% import _self as self %}

{% set current = app.request.get('_route') %}

{% macro navLink(currentPath, displayName, internalName) %}
    <li class="nav-item">
        <a class="nav-link {{ currentPath == internalName ? 'text-dark' : 'text-danger' }}"
           href="{{ path(internalName) }}">
            {{ displayName }}
        </a>
    </li>
{% endmacro %}

<header class="px-3 pt-3 text-danger">
    <div class="d-flex">
        <img src="{{ asset('img/font.png') }}" alt="banner" height="130px" class="mr-4">
        <div class="d-inline">
            <h1 style="font-size: 55px">Training Center</h1>
            <h1>The Hague</h1>
        </div>
    </div>
    <hr class="border-danger mb-0">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                {{ self.navLink(current, 'Home', 'app_index') }}
            </li>
            {% if is_granted('ROLE_MEMBER') %}
                {{ self.navLink(current, 'Signup for lessons', 'app_index') }}
                {{ self.navLink(current, 'My lessons', 'app_index') }}
            {% elseif is_granted('ROLE_INSTRUCTOR') %}
                {{ self.navLink(current, 'Instructor', 'app_index') }}
            {% elseif is_granted('ROLE_ADMIN') %}
                {{ self.navLink(current, 'Instructors', 'app_admin_instructor') }}
                {{ self.navLink(current, 'Members', 'app_admin_member') }}
                {{ self.navLink(current, 'Training forms', 'app_admin_training') }}
            {% else %}
                {{ self.navLink(current, 'Our lessons', 'app_public_trainings') }}
                {{ self.navLink(current, 'Sign up', 'app_security_signup') }}
                {{ self.navLink(current, 'Behavior rules', 'app_public_rules') }}
                {{ self.navLink(current, 'Contact us', 'app_public_contact') }}
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ app.user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_security_account') }}">
                            <i class="fas fa-user"></i> Profile
                        </a>
                        <a class="dropdown-item" href="{{ path('app_security_logout') }}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </div>
                </li>
            {% else %}
                {{ self.navLink(current, 'Login', 'app_security_login') }}
            {% endif %}
        </ul>
    </nav>
</header>